.App{
  box-shadow: 0 4px 8px 0 black;
  border: 1.5px solid black;
  border-radius: 10px;
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
  font-size: 18px;
  font-family:serif;
}
.App-header{
  padding-top: 1%;
  text-align: center;
}
table{
  padding-left: 11%;
}
td{
  padding: 5%;
}
input[name="nama"]{
  padding-right: 20px;
}
.submit{
  border-radius: 20px;
  font-size: 14px;
}
