header{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
}
nav ul{
  display: flex;
  list-style: none;
}
ul a {
  padding-right: 10px;
}
body{
  font-family: 'Slabo', sans-serif;
  background-image:url(../img/pattern.jpg);
}
section{
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 20px;
  width: 1000px;
  background-color: #fff;
  padding-top: 10px;
}
section h1{
  text-align: center;
}
#article-list{
  margin-top: 20px;
}
#article-list div{
  padding: 20px 10px;
}
#article-list div p{
  border-bottom: 1px solid rgb(133,129,129);
}
footer{
  color: white;
  text-align: center;
  background-color: black;
  padding: 10px;
  margin: 0px;
}
ol{
  margin-left: 20px;
}
